<p>Hello {{ name }},</p>
<p>You paid for the hotel - {{hotel}}</p>
<p>City is {{city}}</p>
<p>
<p>A period time: {{startDate}} - {{endDate}}</p>
</p>
<hr/>
<p></p>
<p>Thank you for your purchase, you can see the information in your personal account on the pinktada website</p>